@import '../styles/variables';

.ingredient-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
      margin: 0;
      color: $color-text;
    }
  }
}

.stock-low {
  color: $color-danger;
  font-weight: 600;
}
