@import '../../styles/variables';

.card {
  background: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  overflow: hidden;

  &__header {
    padding: 0.5rem;
    border-bottom: 1px solid $color-border;
    font-size: 1.25rem;
    font-weight: 600;
    color: $color-text;
  }

  &__body {
    padding: 0.5rem;
  }
}
