@import '../../styles/variables';

.input-group {
  margin-bottom: 1rem;

  &__label {
    display: block;
    margin-bottom: 0.5rem;
    color: $color-text;
    font-weight: 500;
    font-size: 0.875rem;
  }

  &__required {
    color: $color-danger;
  }

  &__input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    font-family: $font-family;
    font-size: 1rem;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: $color-primary;
    }

    &:disabled {
      background-color: #f5f5f5;
      cursor: not-allowed;
    }

    &--error {
      border-color: $color-danger;
    }
  }

  &__error {
    display: block;
    margin-top: 0.25rem;
    color: $color-danger;
    font-size: 0.75rem;
  }
}

textarea.input-group__input {
  resize: vertical;
  min-height: 100px;
}
